In [26]:
import pandas as pd 
import geopy.distance
import os
import json
import pickle
import uuid
import warnings
from concurrent.futures import ThreadPoolExecutor
from datetime import datetime
import boto3
import numpy as np
import pandas as pd
from dateutil import relativedelta
from scipy.stats import randint as sp_randint
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.externals import joblib
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import train_test_split

In [40]:
df=pd.read_csv('train.csv',nrows=30000000)

In [41]:
def dist(lat1,long1,lat2,long2):
    try:
        coords_1 = (long1,lat1)
        coords_2 = (long2,lat2)

        return(geopy.distance.vincenty(coords_1, coords_2).km)
    except:
        return 'bug'

In [42]:
def man_dist(lat1,long1,lat2,long2):
    return dist(lat1,long1,lat2,long1)+ dist(lat1,long1,lat1,long2)

In [43]:
df['distance']=df.apply(lambda x: dist(x.pickup_latitude,x.pickup_longitude,x.dropoff_latitude,x.dropoff_longitude),axis=1)

/Users/nathantoubiana/anaconda3/lib/python3.6/site-packages/geopy/point.py:81: UserWarning: Latitude normalization has been prohibited in the newer versions of geopy, because the normalized value happened to be on a different pole, which is probably not what was meant. If you pass coordinates as positional args, please make sure that the order is (latitude, longitude) or (y, x) in Cartesian terms.
  UserWarning)

In [44]:
df['mandistance']=df.apply(lambda x: man_dist(x.pickup_latitude,x.pickup_longitude,x.dropoff_latitude,x.dropoff_longitude),axis=1)

/Users/nathantoubiana/anaconda3/lib/python3.6/site-packages/geopy/point.py:81: UserWarning: Latitude normalization has been prohibited in the newer versions of geopy, because the normalized value happened to be on a different pole, which is probably not what was meant. If you pass coordinates as positional args, please make sure that the order is (latitude, longitude) or (y, x) in Cartesian terms.
  UserWarning)

TypeError: ("unsupported operand type(s) for +: 'float' and 'str'", 'occurred at index 269695')

In [45]:
df[df.distance!='bug']

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.412061
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,4.64623
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,1.0048
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,0.914154
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,1.36616
5,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1,3.23846
6,2012-11-20 20:35:00.0000001,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1,0.802404
7,2012-01-04 17:22:00.00000081,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1,4.38797
8,2012-12-03 13:10:00.000000125,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1,1.50141
9,2009-09-02 01:11:00.00000083,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2,1.42611
10,2012-04-08 07:30:50.0000002,5.3,2012-04-08 07:30:50 UTC,-73.996335,40.737142,-73.980721,40.733559,1,1.74614
11,2012-12-24 11:24:00.00000098,5.5,2012-12-24 11:24:00 UTC,0.000000,0.000000,0.000000,0.000000,3,0
12,2009-11-06 01:04:03.0000002,4.1,2009-11-06 01:04:03 UTC,-73.991601,40.744712,-73.983081,40.744682,2,0.950902
13,2013-07-02 19:54:00.000000232,7.0,2013-07-02 19:54:00 UTC,-74.005360,40.728867,-74.008913,40.710907,1,0.68012
14,2011-04-05 17:11:05.0000001,7.7,2011-04-05 17:11:05 UTC,-74.001821,40.737547,-73.998060,40.722788,2,0.618514
15,2013-11-23 12:57:00.000000190,5.0,2013-11-23 12:57:00 UTC,0.000000,0.000000,0.000000,0.000000,1,0
16,2014-02-19 07:22:00.00000074,12.5,2014-02-19 07:22:00 UTC,-73.986430,40.760465,-73.988990,40.737075,1,0.775049
17,2009-07-22 16:08:00.000000163,5.3,2009-07-22 16:08:00 UTC,-73.981060,40.737690,-73.994177,40.728412,1,1.4916
18,2010-07-07 14:52:00.00000044,5.3,2010-07-07 14:52:00 UTC,-73.969505,40.784843,-73.958732,40.783357,1,1.20323
19,2014-12-06 20:36:22.0000008,4.0,2014-12-06 20:36:22 UTC,-73.979815,40.751902,-73.979446,40.755481,1,0.117733
20,2010-09-07 13:18:00.000000175,10.5,2010-09-07 13:18:00 UTC,-73.985382,40.747858,-73.978377,40.762070,1,0.896105
21,2013-02-12 12:15:46.0000002,11.5,2013-02-12 12:15:46 UTC,-73.957954,40.779252,-73.961250,40.758787,1,0.730781
22,2009-08-06 18:17:23.0000001,4.5,2009-08-06 18:17:23 UTC,-73.991707,40.770505,-73.985459,40.763671,1,0.728404
23,2010-12-06 12:29:00.000000199,4.9,2010-12-06 12:29:00 UTC,-74.000632,40.747473,-73.986672,40.740577,1,1.57245
24,2009-12-10 15:37:00.00000020,6.1,2009-12-10 15:37:00 UTC,-73.969622,40.756973,-73.981152,40.759712,1,1.28961
25,2011-06-21 16:15:00.00000073,7.3,2011-06-21 16:15:00 UTC,-73.991875,40.754437,-73.977230,40.774323,3,1.74555
26,2011-02-07 20:01:00.000000114,6.5,2011-02-07 20:01:00 UTC,0.000000,0.000000,0.000000,0.000000,1,0
27,2011-06-28 19:47:00.000000168,4.5,2011-06-28 19:47:00 UTC,-73.988893,40.760160,-73.986445,40.757857,3,0.282276
28,2012-05-04 06:11:20.0000002,9.3,2012-05-04 06:11:20 UTC,-73.989258,40.690835,-74.004133,40.725690,1,1.97675
29,2013-08-11 00:52:00.00000026,4.5,2013-08-11 00:52:00 UTC,-73.981020,40.737760,-73.980668,40.730497,2,0.227231
...,...,...,...,...,...,...,...,...,...
29999970,2015-04-06 09:17:52.0000005,6.5,2015-04-06 09:17:52 UTC,-73.993767,40.746662,-74.005447,40.727764,1,1.42754
29999971,2011-01-13 13:42:00.000000161,9.7,2011-01-13 13:42:00 UTC,-73.952512,40.772498,-73.951603,40.802880,1,0.943331
29999972,2014-07-01 08:43:00.000000102,6.5,2014-07-01 08:43:00 UTC,-73.955457,40.783267,-73.961035,40.770127,5,0.742946
29999973,2009-05-24 02:30:00.00000046,4.1,2009-05-24 02:30:00 UTC,-73.989015,40.730583,-73.980043,40.735097,1,1.01096
29999974,2009-11-19 01:33:44.0000001,14.5,2009-11-19 01:33:44 UTC,-73.975635,40.681656,-74.006084,40.743756,1,3.89952
29999975,2010-03-25 22:46:21.0000004,6.9,2010-03-25 22:46:21 UTC,-73.992043,40.738634,-73.985692,40.723199,1,0.853483
29999976,2015-01-01 14:09:40.0000003,24.5,2015-01-01 14:09:40 UTC,-73.989586,40.762989,-73.927444,40.852730,1,7.46784
29999977,2015-05-03 12:45:35.0000003,22.0,2015-05-03 12:45:35 UTC,-73.993622,40.752232,-73.947449,40.823093,1,5.59736
29999978,2009-05-13 20:14:00.000000161,16.5,2009-05-13 20:14:00 UTC,-74.010787,40.711220,-73.985088,40.760248,1,3.24106
29999979,2010-01-17 19:29:00.000000106,8.1,2010-01-17 19:29:00 UTC,-73.975128,40.790968,-73.975437,40.765240,2,0.793826
29999980,2010-10-24 18:44:00.00000064,8.1,2010-10-24 18:44:00 UTC,-73.977520,40.771385,-73.952372,40.772985,2,2.80715
29999981,2013-08-06 10:11:00.000000117,7.0,2013-08-06 10:11:00 UTC,-73.994700,40.749450,-73.983577,40.744752,1,1.24982
29999982,2013-11-30 15:12:17.0000001,4.0,2013-11-30 15:12:17 UTC,-73.989912,40.776411,-73.983764,40.775745,1,0.686473
29999983,2013-12-27 06:48:58.0000001,38.0,2013-12-27 06:48:58 UTC,-73.988166,40.760144,-73.878686,40.880243,1,12.77
29999984,2015-03-13 19:03:32.0000001,22.5,2015-03-13 19:03:32 UTC,-73.962715,40.794395,-73.928825,40.830112,1,3.93989
29999985,2013-05-22 13:01:28.0000003,4.5,2013-05-22 13:01:28 UTC,-73.981018,40.744945,-73.977802,40.741862,1,0.371293
29999986,2015-05-15 21:26:28.0000003,14.5,2015-05-15 21:26:28 UTC,-74.003242,40.743832,-73.982681,40.719971,1,2.40955
29999987,2012-10-24 11:22:00.000000128,7.0,2012-10-24 11:22:00 UTC,-73.991772,40.744147,-73.995827,40.752337,2,0.518086
29999988,2013-01-18 23:19:00.000000125,9.0,2013-01-18 23:19:00 UTC,-73.984293,40.759167,-73.975097,40.756655,2,1.02926
29999989,2010-02-11 22:00:00.000000146,16.1,2010-02-11 22:00:00 UTC,-73.980007,40.734972,-73.972770,40.691740,1,1.55823
29999990,2010-02-19 21:24:00.000000110,3.7,2010-02-19 21:24:00 UTC,-73.982223,40.740467,-73.978193,40.748233,1,0.509486
29999991,2010-07-03 00:40:00.000000146,6.5,2010-07-03 00:40:00 UTC,-73.999375,40.728143,-74.005362,40.739838,1,0.758963
29999992,2014-10-02 14:21:33.0000001,13.0,2014-10-02 14:21:33 UTC,-73.994854,40.718486,-73.983641,40.742310,1,1.45071
29999993,2015-04-14 10:40:38.0000002,11.0,2015-04-14 10:40:38 UTC,-73.971931,40.757622,-73.981033,40.767792,2,1.06311
29999994,2009-07-21 04:13:06.0000004,10.1,2009-07-21 04:13:06 UTC,-73.988943,40.726905,-73.954853,40.720562,1,3.80974
29999995,2010-12-31 16:08:33.0000001,8.5,2010-12-31 16:08:33 UTC,-74.004951,40.721477,-73.989942,40.737085,3,1.74267
29999996,2011-02-15 15:53:21.0000002,10.1,2011-02-15 15:53:21 UTC,-73.970925,40.755652,-73.969017,40.785786,1,0.953282
29999997,2011-12-17 20:28:07.0000004,12.9,2011-12-17 20:28:07 UTC,-73.956806,40.766845,-73.983419,40.721465,2,3.28333
29999998,2013-03-26 09:07:00.000000185,7.5,2013-03-26 09:07:00 UTC,-74.006612,40.705307,-74.009122,40.713297,1,0.37269
29999999,2011-11-22 18:10:44.0000002,12.9,2011-11-22 18:10:44 UTC,-73.981950,40.737348,-73.990450,40.748682,2,1.01088

In [8]:
df=df[df.distance!='bug']

In [278]:
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,hour,day,month,year,weekday,distance
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:00,-73.844311,40.721319,-73.841610,40.712278,1,17,15,6,2009,0,0.412061
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:00,-74.016048,40.711303,-73.979268,40.782004,1,16,5,1,2010,1,4.64623
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2,0,18,8,2011,3,1.0048
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:00,-73.987130,40.733143,-73.991567,40.758092,1,4,21,4,2012,5,0.914154
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1,7,9,3,2010,1,1.36616

In [200]:
y = df['fare_amount'].dropna(axis=0, how='any').as_matrix()

In [202]:
X.shape

(9999545, 6)

In [201]:
X = (df[[ 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count','distance']]
                 .dropna(axis=0, how='any')
                 .as_matrix())

In [203]:
clf = RandomForestRegressor(max_depth=15, max_features=5, n_estimators=100,n_jobs=-1)

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=400)
clf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=15,
           max_features=5, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=-1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [204]:
clf.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=15,
           max_features=5, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=-1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [205]:
df_test=pd.read_csv('test.csv')

In [206]:
def dist(lat1,long1,lat2,long2):
    try:
        coords_1 = (long1,lat1)
        coords_2 = (long2,lat2)

        return(geopy.distance.vincenty(coords_1, coords_2).km)
    except:
        return 'bug'

In [207]:
df_test['distance']=df_test.apply(lambda x: dist(x.pickup_latitude,x.pickup_longitude,x.dropoff_latitude,x.dropoff_longitude),axis=1)

In [208]:
X = (df_test[['pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count','distance']]
                 ._get_numeric_data()
                 .as_matrix())

In [209]:
predicted = clf.predict(X)

In [210]:
df_test['preds']=predicted

In [211]:
df_test_keys=df_test[['key','preds']]

In [212]:
df_final=pd.read_csv('sample_submission.csv')

In [213]:
df_final.fare_amount=df_final.merge(df_test_keys,on='key')['preds']

In [214]:
df_final[['key','fare_amount']].to_csv('results_nathan.csv' ,  index=False)

In [215]:
s = pickle.dumps(clf)
joblib.dump(clf, 'baseline_model.pkl')

['baseline_model.pkl']

MORE FEATURES

In [9]:
df['pickup_datetime'] = df['pickup_datetime'].str.slice(0, 16)
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], utc=True, format='%Y-%m-%d %H:%M')

In [10]:
def transform(data):
    # Extract date attributes and then drop the pickup_datetime column
    data['hour'] = data['pickup_datetime'].dt.hour
    data['day'] = data['pickup_datetime'].dt.day
    data['month'] = data['pickup_datetime'].dt.month
    data['year'] = data['pickup_datetime'].dt.year
    data['weekday']=data['pickup_datetime'].dt.weekday
    data = data.drop('pickup_datetime', axis=1)
    return data

In [11]:
df1=transform(df)

In [12]:
y = df1['fare_amount'].dropna(axis=0, how='any').as_matrix()

In [13]:
X = (df1[[ 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count','distance','year','month','day','hour','weekday']]
                 .dropna(axis=0, how='any')
                 .as_matrix())

In [14]:
X.shape

(55421320, 11)

In [15]:
clf = RandomForestRegressor(max_depth=15, max_features=5, n_estimators=100,n_jobs=-1)

In [16]:
clf.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=15,
           max_features=5, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=-1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [17]:
df_test=pd.read_csv('test.csv')

In [18]:
df_test['distance']=df_test.apply(lambda x: dist(x.pickup_latitude,x.pickup_longitude,x.dropoff_latitude,x.dropoff_longitude),axis=1)

In [19]:
df_test['pickup_datetime'] = df_test['pickup_datetime'].str.slice(0, 16)
df_test['pickup_datetime'] = pd.to_datetime(df_test['pickup_datetime'], utc=True, format='%Y-%m-%d %H:%M')

In [20]:
df_test=transform(df_test)

In [21]:
X = (df_test[['pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count','distance','year','month','day','hour','weekday']]
                 ._get_numeric_data()
                 .as_matrix())

In [22]:
X.shape

(9914, 11)

In [23]:
predicted = clf.predict(X)

In [24]:
df_test['preds']=predicted
df_test_keys=df_test[['key','preds']]
df_final=pd.read_csv('sample_submission.csv')
df_final.fare_amount=df_final.merge(df_test_keys,on='key')['preds']
df_final[['key','fare_amount']].to_csv('results_nathan.csv' ,  index=False)

In [25]:
s = pickle.dumps(clf)
joblib.dump(clf, 'model_3.pkl')

['model_3.pkl']